.card {
  display: grid;
}
.card-form {
  width: 400px;
  height: 600px;
  position: absolute;
  top: 20%;
  left: 50%;
}

.card-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form label {
  color: var(--dark-grayish-violet);
}
input {
  border-color: var(--dark-grayish-violet);
  color: var(--dark-grayish-violet);
  font-family: "Space Grotesk", sans-serif;
  margin-block: 8px;
  border-radius: 5px;
  padding: 16px;
  inline-size: 100%;
  box-sizing: border-box;
}

.buttom-confirm {
  background-color: var(--very-dark-violet);
  font-family: "Space Grotesk", sans-serif;
  color: var(--white);
  border: none;
  padding-block: 16px;
  border-radius: 5%;
  inline-size: 100%;
}
